{:paths ["src"]
 :deps {
        io.github.kotoba-lang/fmt-default-opts
        {:git/url "https://github.com/kotoba-lang/fmt-default-opts.git"
         :git/sha "46dab3e659c1b2119322a7001395c75e321c261a"}
        io.github.kotoba-lang/fmt-format-str
        {:git/url "https://github.com/kotoba-lang/fmt-format-str.git"
         :git/sha "b037a218f2a1cc95230e30e7800e3c17cac5f446"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
